@model List<FT_Admin.Models.Dto.CaseDto>
@{
    Dictionary<int, string> Status = (Dictionary<int, string>)ViewBag.Status;
}
<div class="flex-grow-1 overflow-auto">
    <table class="table table-hover table-sm table-responsive-sm table-bordered overflow-auto ">
        <thead>
            <tr>
                <th width="150px" style="text-align: center">Tiêu đề</th>
                <th width="150px" style="text-align: center">Chi tiết</th>
                <th width="150px" style="text-align: center">Bình luận</th>
                <th width="150px" style="text-align: center">Đính kèm</th>
                <th width="150px" style="text-align: center">Thời gian</th>
                <th width="150px" style="text-align: center">Người tạo</th>
                <th width="150px" style="text-align: center">Trạng thái</th>
                @if (User.IsInRole("actionCase"))
                {
                    <th width="100px" style="text-align: center">Xử lý</th>
                }
            </tr>
        </thead>
        <tbody id="tblBody">
            @foreach (var item in Model)
            {
                <tr data-id='@item.Id'>
                    <td class="align-middle">@item.Title</td>
                    <td class="align-middle">@item.Detail</td>
                    <td class="align-middle" style="white-space: pre-line">@item.Comment</td>
                    <td class="align-middle text-center">
                        @if (!string.IsNullOrEmpty(item.AttachFile))
                        {
                            <a href='@item.AttachFile' data-lightbox='@item.Id' data-title='@item.Title'><img src='@item.AttachFile' style='max-height:100px;max-width:100px' /></a>
                        }
                    </td>
                    <td class="align-middle text-center">@item.CreatedTime</td>
                    <td class="align-middle text-center">@item.CreatedBy</td>
                    <td class="align-middle text-center">@Status[item.Status]</td>
                    @if (User.IsInRole("actionCase"))
                    {
                        <td class="text-center align-middle">
                            @if (item.Status != 1 && item.Status != -1)
                            {
                                <button class="btn btn-primary btnEdit" data-id="@item.Id"><i class='fa fa-pencil-square-o' aria-hidden='true'></i> Cập nhật</button>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex align-items-center justify-content-center" style="background-color:#f2f2f2">
    <nav aria-label="...">
        <ul class="pagination justify-content-center flex-wrap m-1">
            @{
                int maxPage = (int)ViewBag.maxPage;

                int curPage = (int)ViewBag.curPage;
                if (curPage > 3)
                {
                    <li class='page-item' data-pagenum='1'><a class='page-link' href='#'>First - 1</a></li>
                }
                if (curPage > 4)
                {
                    <li class='page-item' data-pagenum='@(curPage-1)'><a class='page-link' href='#'>Prev</a></li>
                }
                for (var i = 1; i <= maxPage; i++)
                {
                    if (i == curPage)
                    {
                        <li class='page-item active' data-pagenum='@i'><a class='page-link' href='#'>@i</a></li>
                    }
                    else
                    {
                        if (i > curPage - 3 && i < curPage + 3)
                        {
                            <li class='page-item' data-pagenum='@i'><a class='page-link' href='#'>@i</a></li>
                        }
                    }
                }
                if (curPage < maxPage - 3)
                {
                    <li class='page-item' data-pagenum='@(curPage+1)'><a class='page-link' href='#'>Next</a></li>
                }
                if (curPage < maxPage - 2)
                {
                    <li class='page-item' data-pagenum='@maxPage'><a class='page-link' href='#'>Last - @maxPage</a></li>
                }
            }
        </ul>
    </nav>
</div>