@model FT_Admin.Models.Data.tblCase
@{
    Dictionary<int, string> status = (Dictionary<int, string>)ViewBag.Status;
}
<div>
    @Html.TextBoxFor(t => t.Id, new { @hidden = "hidden" })
    <div class="d-flex flex-column">
        @if (Model.Id == Guid.Empty)
        {
            <label>
                <i>Tiêu đề:</i>
                @Html.TextBoxFor(t => t.Title, new { @class = $"form-control" })
            </label>
        }
        else
        {
            <h5 class="text-center">@Model.Title.ToUpper()</h5>
        }

        <label>
            <i>Chi tiết:</i>
            @if (Model.Id == Guid.Empty)
            {
                @Html.TextAreaFor(t => t.Detail, new { @class = "form-control" })
            }
            else
            {
                <b>@Model.Detail</b>
            }
        </label>

        @if (Model.Id == Guid.Empty)
        {
            <label>
                <i>Đính kèm:</i>
                <input type="file" name="UploadFile" accept="image/*" class="form-control" />
                @Html.TextBoxFor(t => t.AttachFile, new { @hidden = "hidden" })
            </label>
        }
        <div id="preview" class="d-flex justify-content-center">
            @if (!string.IsNullOrEmpty(Model.AttachFile))
            {
                <img class='d-block' style='max-height:250px;max-width:100%' src='@Model.AttachFile' />
            }
        </div>
        @if (Model.Id != Guid.Empty)
        {
            <div class="mt-2">
                <i>Bình luận:</i>
                <div style="white-space: pre-line">@Model.Comment</div>
                @(Model.Comment="")
                @Html.TextBoxFor(t => t.Comment, new { @class = "form-control mt-2" })
            </div>
            <label class="mt-2">
                <i>Trạng thái:</i>
                <select class="form-control" name="Status">
                    @foreach (var item in status)
                    {
                        <option value="@item.Key" @(Model.Status == item.Key ? "selected" : "")>@item.Value</option>
                    }
                </select>
            </label>
        }
        @if (Model.Status != -1 && Model.Status != 1)
        {
            <button type="button" id="btnUpdateCase" class="btn btn-success d-block mx-auto mt-2">@(Model.Id==Guid.Empty?"Thêm mới":"Cập nhật")</button>
        }
    </div>
</div>