@using FT_Admin.Models.Data
@model List<tblTemplate>
@{
    ViewBag.Title = "Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input id="ipRole" value="@(User.IsInRole("0")?0:1)" hidden />
@section header{
    <div class="pl-2"><h5 class="mb-0" style="color:#f60"><i class="fa fa-caret-right" aria-hidden="true"></i> @ViewBag.Title</h5></div>
}
<div class="d-flex justify-content-between p-2" style="background-color:#f2f2f2">
    <button class="btn btn-primary btn-sm" onclick="Detail()"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
</div>
<div class="p-2">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th style="text-align: center">Id</th>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Template Content</th>
                <th style="text-align: center"></th>
            </tr>
        </thead>
        <tbody id="tblBody">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@item.Id</td>
                    <td style="text-align:center">@item.Name</td>
                    <td style="text-align:center">@Html.Raw(item.TemplateContent)</td>
                    <td style="text-align:center"><button class="btn btn-primary" onclick="Detail(@item.Id)"><i class='fa fa-pencil-square-o' aria-hidden='true'></i> Sửa</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="word-break:break-word"></div>
        </div>
    </div>
</div>
@section script{
    <script>

        function Detail(id) {
            $.ajax({
                url: "/Template/Detail",
                method: "POST",
                data: {
                    id: id
                },
                error: function (ex) {
                    toastr.error(ex);
                },
                success: function (rs) {
                    if (id == null) {
                        $("#modalDetail .modal-title").html("Thêm mới");
                    } else {
                        $("#modalDetail .modal-title").html("Cập nhật");
                    }
                    $("#modalDetail .modal-body").html(rs);
                    $("#modalDetail").modal("show");
                }
            });
        }
        $("#modalDetail").on("click", ".name", function () {
            $("#modalDetail input[name='Name']").val($(this).text());
        });
        $("#modalDetail").on("click", ".key", function () {
            let oldTemplateContent = $("#modalDetail textarea[name='TemplateContent']").val() ?? '';
            $("#modalDetail textarea[name='TemplateContent']").val(oldTemplateContent + $(this).text());
        });
    </script>
}
